<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.funol.workwithgradle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DEMO_NAME"
            android:value="${DEMO_VALUE}"/>

        <meta-data
            android:name="UMENG_APP_KEY"
            android:value="${UMENG_APP_KEY}"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <meta-data
            android:name="AMAP_API_KEY"
            android:value="${AMAP_API_KEY}"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>